
.cal {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.cal .border-1{
	border: .5px solid lightgray;
}

.cal .border-t-1{
	border-top: .5px solid lightgray;
}

.cal .border-b-1{
	border-bottom: .5px solid lightgray;
}

.cal .border-s-1{
	border-left: .5px solid lightgray;
}

.cal .border-e-1{
	border-right: .5px solid lightgray;
}

.cal .calender-body{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc( 4rem + 1.5rem );
	transition: all .2s ease-in-out;
}

.cal .calender-body.expanded {
	height: calc( 4rem * 5 + 1.5rem);
}

.cal .calender-side-bar {
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height:100%;
	width:0%;
	opacity: 0;
	transition: all .2s ease-in-out;
}
.cal .calender-side-bar.show{
	width:5%;
	text-align: bottom;
	opacity: 1;
}

.cal .calender-side-bar .calender-side-item {
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cal .calender-main{
	flex:1;
	overflow:hidden;
	height: 100%;
}

.cal .calender-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
			
.cal .calender-header-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 1.5rem;
}

.cal .calender-grid {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-x: visible;
	touch-action: none;
	transition: all .2s ease-in-out;
	height: calc(100% - 1.5rem);
}

.cal .calender {
	display: flex;
	position: relative;
	height: 100%;
	flex: 0 0 100%;
	min-width: 0;
	flex-direction: column;
}

.cal .calender-row {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	height: 0px;
	transition: all .2s ease-in-out;
}

.cal .calender-row.show {
	opacity: 1;
	height: 4rem;
}

.cal .calender-row.weekly-view {
	height: 100%;
}

@keyframes slide-left-frame {
	from {
		/* Starting state of the animation */
		transform: translateX(0%);
	}

	to {
		/* Ending state of the animation */
		transform: translateX(-100%);
	}
}

@keyframes slide-right-frame {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

.cal .slide-left {
	animation: slide-left-frame .2s ease-in-out;
}

.cal .slide-right {
	animation: slide-right-frame .2s ease-in-out;
}


.cal .date-col{
	display: flex;
	flex-direction: column;
    flex: 1;
    text-align: center;
	padding: .2rem;
	height: 100%;
	box-sizing: border-box;
	background-color: grey;
}

.cal .date-col.weekly-view {
	height: 100%;
}

.cal .date-col.selected-month {
	background-color: white;
}

.cal .date-col.selected-date {
	background-color: aqua !important;
}

.cal .date-col .task-mark{
	width: 100%;
	max-height: 50%;
    text-align: center;
	border-radius: .5rem;
	margin-top: .5rem;

	transition: all .1s ease-in-out;
}

.cal .date-col .task-mark.weekly-view{
	height:0px;
	display: none;
}

.cal .date-col .today {
	display: inline;
	border-radius: 50%;
	background-color: green;
	padding: .2rem;
}

/* rounded-full bg-green-500 p-1 */