:root{
	--cal-border-color: lightgray;
	--cal-header-height: 1.5rem;
	--cal-column-height: 4rem;
	--cal-header-font-size: .8rem;

	--cal-col-past: #ffcccc;
	--cal-col-today: #ffffcc;
	--cal-col-future: #ccffcc;
	--cal-col-dimm: #f2f2f2;
}
.cal {
	overflow: hidden;
	position: relative;
	width: 100%;
}

.cal .text-center {
	text-align: center;
}

.cal .border-1{
	border: .5px solid var(--cal-border-color);
}

.cal .border-t-1{
	border-top: .5px solid var(--cal-border-color);
}

.cal .border-b-1{
	border-bottom: .5px solid var(--cal-border-color);
}

.cal .border-s-1{
	border-left: .5px solid var(--cal-border-color);
}

.cal .border-e-1{
	border-right: .5px solid var(--cal-border-color);
}

.cal .calender-body{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: calc( var(--cal-column-height) + var(--cal-header-height) );
	transition: all .2s ease-in-out;
}

.cal .calender-body.expanded {
	height: calc( var(--cal-column-height) * 5 + var(--cal-header-height));
}

.cal .calender-side-bar {
	display:flex;
	flex-direction: column;
	align-items: center;
	flex-wrap: nowrap;
	height:100%;
	width:0%;
	opacity: 0;
	transition: all .2s ease-in-out;
}
.cal .calender-side-bar.show{
	width:5%;
	text-align: bottom;
	opacity: 1;
}

.cal .calender-side-bar .calender-side-item {
	display: flex;
	flex:1;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.cal .calender-main{
	flex:1;
	overflow:hidden;
	height: 100%;
}

.cal .calender-header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 100%;
}
			
.cal .calender-header-item {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	height: var(--cal-header-height);
}

.cal .calender-grid {
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: center;
	flex-wrap: nowrap;
	overflow-x: visible;
	touch-action: none;
	transition: all .2s ease-in-out;
	height: calc(100% - var(--cal-header-height));
}

.cal .calender {
	display: flex;
	position: relative;
	height: 100%;
	flex: 0 0 100%;
	min-width: 0;
	flex-direction: column;
}

.cal .calender-row {
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	height: 0px;
	transition: all .2s ease-in-out;
}

.cal .calender-row.show {
	opacity: 1;
	height: var(--cal-column-height);
}

.cal .calender-row.weekly-view {
	height: 100%;
}

@keyframes slide-left-frame {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(-100%);
	}
}

@keyframes slide-right-frame {
	from {
		transform: translateX(0%);
	}

	to {
		transform: translateX(100%);
	}
}

.cal .slide-left {
	animation: slide-left-frame .2s ease-in-out;
}

.cal .slide-right {
	animation: slide-right-frame .2s ease-in-out;
}


.cal .date-col{
	position: relative;
	display: flex;
	flex-direction: column;
    flex: 1;
    text-align: center;
	padding: .2rem;
	height: 100%;
	box-sizing: border-box;
	background-color: var(--cal-col-dimm);
}

.cal .date-col.weekly-view {
	height: 100%;
}

.cal .date-col.selected-month {
	background-color: white;
}

.cal .date-col.selected-date {
	background-color: aqua !important;
}

.cal .date-col .task-mark{
	width: 100%;
	max-height: 50%;
    text-align: center;
	border-radius: .5rem;
	margin-top: .5rem;
	transition: all .1s ease-in-out;
}

.cal .date-col .task-mark.mark-past{
	background-color: var(--cal-col-past);
}
.cal .date-col .task-mark.mark-today{
	background-color: var(--cal-col-today);
}
.cal .date-col .task-mark.mark-future{
	background-color: var(--cal-col-future);
}



.cal .date-col .task-mark.weekly-view{
	height:0px;
	display: none;
}

.cal .date-col .today {
	display: inline-block;
	aspect-ratio: 1/1;
	border-radius: 100%;
	background-color: green;
	width: 1rem;
	padding: .2rem;
}

.cal .date-col .task-item{
	position: absolute;
	opacity: 0;
	display:none;
	transition: all .1s ease-in-out;
}
.cal .date-col.weekly-view .task-item{
	position: absolute;
	display:block;
	opacity: .7;
	width: 2rem;
	border-radius: .5rem;
	left : 50%;
	transform: translateX(-50%);
	transition: all .1s ease-in-out;
}
